.selectTag {
  outline: 0;
  overflow: hidden;
  border: 0px;
  background-color: rgba(161, 114, 114, 0);
  border-bottom: 3px solid #13fdb1;
  font-size: 40px;
  font-weight: bolder;
  color: #000000cf;
}
.labelForHeading {
  font-size: 40px;
  font-weight: bolder;
  color: #000000cf;
}
.headingDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.hrParantDiv {
  display: flex;
  justify-content: center;
}
