body {
  background-image: url("https://res.cloudinary.com/dvz2vfssk/image/upload/v1650706890/samples/olga-thelavart-vS3idIiYxX0-unsplash_1_ipcnqr.jpg");

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
